@import "tailwindcss";

@layer utilities{
    .no-scrollbar{
        -ms-overflow-styke: none;
        scrollbar-width: none;
    }
      .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

